   <div class="row">
   
    <div class="col-sm-4">
     <div class="panel panel-card">
      <div class="r-t pos-rlt" md-ink-ripple="" style="background:url(images/screen.png) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href="" class="w-xs inline">
           <img ng-src="{{details.thumbnail}}" class="img-circle img-responsive"  />
          </a>
          <div class="m-b m-t-sm h2">
            <span class=""></span>

          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border">{{btn}}</a>
          <p>
            UECO Linux - Ubuntu 32 Bit 
          </p>
        </div>
      <div class="md-ripple-container"></div></div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge bg-primary">Desktop</span> XFCE Desktop
        </a>
        <a class="list-group-item">
          <span class="pull-right badge bg-success">Base OS</span> Ubuntu 14.04 LTS
        </a>
        <a class="list-group-item">
          <span class="pull-right badge bg-danger">Kernel Version</span> Linux <b>{{details.uuid}}</b> 3.19.0-58-generic
        </a>
      </div>
    </div>
  </div>

 
</div>

<div class="row ng-scope">
    
  </div>


 

