<div class="padding-out">
  <div class="p-h-md p-v bg-white box-shadow pos-rlt">
    <h3 class="no-margin">Settings</h3>
  </div>
  <div class="box">
    <div class="col-md-3">
      <div style="background:url(images/screen.png) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center">
          <a href class="w-xs inline">
            <img ng-src="{{details.thumbnail}}" class="img-circle img-responsive"  />
          </a>
          <div class="m-b m-t-sm h2">
            <span class="text-black">{{details.name}}</span>
          </div>
          <p>
            {{details.email}}
          </p>
        </div>
      </div>
      <ul class="nav nav-lists b-t" ui-nav>
        <li class="active">
          <a href>Profile</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9 b-l bg-white bg-auto">
      <div class="p-md bg-light lt b-b font-bold">Public profile</div>
      <form role="form" class="p-md col-md-6">
        <div class="form-group">
          <label>Profile picture</label>
          <div class="form-file">
            <input type="file" id="fileInput">
            <button class="btn btn-default">Upload new picture</button>
          </div>
        </div>
        <div class="form-group">
          <label>Fullname</label>
          <input type="text" ng-model="details.name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" ng-model="details.email" class="form-control">
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input type="password" ng-model="details.password" class="form-control">
        </div>
        <button type="submit" class="btn btn-info m-t" ng-click="update()">Submit</button>
      </form>
    </div>
  </div>
</div>
