<nav ui-nav>
  <ul class="nav">
    <li class="nav-header m-v-sm hidden-folded">
      Side Menu
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="home.dashboard">
        <i class="icon mdi-action-dashboard i-20"></i>
        <span class="font-normal">Dashboard</span>
      </a>
    </li>
    <li ui-sref-active="active">
      <a md-ink-ripple ui-sref="home.about">
        <i class="icon mdi-action-info i-20"></i>
        <span class="font-normal">About</span>
      </a>
    </li>
  </ul>
</nav>
