<md-dialog aria-label="Mango (Fruit)" style="width:400px">
  <md-subheader class="md-sticky-no-effect">Upload Image</md-subheader>
  <md-content>
  <div class="row" style="padding:30px;margin-right:45px">
    <div class="col-sm-8">
      <div class="m-r-xs m-b-xs">
        <div class="card" style="height:128px">
          <img-crop 
            image="myImage" 
            result-image="myCroppedImage"
            result-image-size="128"
            area-type="{{cropType}}"
          ></img-crop>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="inline">
        <div class="card">
          <img ng-src="{{myCroppedImage}}" />
        </div>
      </div>
    </div>
  </div>
  </md-content>

  <div class="md-actions" layout="row">
    <md-button ng-click="answer('cancel')">
     Cancel
    </md-button>
    <md-button ng-click="answer('upload')" class="md-primary">
      Upload
    </md-button>
  </div>
</md-dialog>
