<div>
  <h3 class="m-b-lg">{{ app.name }} </h3>
  <div class="card">
    <div class="card-body">
      <h5 class="no-margin m-b font-bold">Get the App</h5>
      <a href="" class="text-sm btn btn-lg btn-rounded btn-stroke btn-success">
          <i class="fa fa-android fa-3x pull-left"></i>
          <span class="block clear text-left m-v-xs">Get it on <b class="text-lg block font-bold">Google Play</b>
          </span>
        </a>
    </div>
  </div>
  
 

</div>
