<div class="modal-over indigo">
  <div class="modal-center text-center animated fadeInUp" style="width:240px;margin:-120px 0 0 -120px;">
    <div class="m-b">
      <img src="images/a0.jpg" class="w-64 circle">
      <div class="m-t-md font-bold">{{app.user.name}}</div>
    </div>
    <div class="md-form-group">
    	<input type="password" class="md-input text-center">
    	<label class="block w-full">Your Password</label>
    </div>
    <div class="m-t">
    	<a href="#/" class="md-btn md-raised pink p-h-md">Unlock</a>
	</div>
  </div>
</div>
