  <div class="center-block w-xxl w-auto-xs p-v-md">
    <div class="navbar">
      <div class="navbar-brand m-t-lg text-center">
        <span class="m-l inline">{{app.name}}</span>
      </div>
    </div>

    <div class="p-lg panel md-whiteframe-z1 text-color m">
      <div class="m-b text-sm">
        Sign up to your {{app.name}} Account
      </div>
      <form name="form">
        <div class="md-form-group">
          <input type="text" class="md-input" ng-model="user.name" required>
          <label>Name</label>
        </div>
        <div class="md-form-group">
          <input type="email" class="md-input" ng-model="user.email" required>
          <label>Email</label>
        </div>
        <div class="md-form-group">
          <input type="password" class="md-input" ng-model="user.password" required>
          <label>Password</label>
        </div>
        <div class="m-b-md">
          <label class="md-check">
            <input type="checkbox" ng-model="agree" required><i class="indigo"></i> Agree the <a href>terms and policy</a>
          </label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" ng-click="doRegister()" ng-disabled="form.$invalid">Create Account</button>
      </form>
    </div>

    <div class="p-v-lg text-center">
      <div>Already have an account? <button ui-sref="access.signin" class="md-btn">Sign in</button></div>
    </div>
  </div>
